<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angular_test</title>
	<script src="bower_components/angularjs/angular.js"></script>
	<script src="./app/app.js"></script>
	<script src="./app/controllers/password.controller.js"></script>
	<script src="./app/filters/upperCase.filter.js"></script>
	<style>
	
		.box{
			margin: 50px;
		}

	</style>
</head>
<body ng-app="angular_test">
	<div  class="box" ng-controller="passwordController">
		<input type="password" ng-model="password" ng-change="grade()"> your password is {{strength}}
	</div>
	<div class="box" >
		<input type="text" ng-model="message"> {{message | upperCase}}
	</div>
</body>
</html>